<h1>All Teams</h1>

<%= link_to "Make a new team", new_team_path, class: 'btn btn-primary' %>
<% @teams.each do |t| %>
  <div class="question-list-item">
    <%= link_to t.name, team_path(t) %>
  </div>
<% end %>
