<div class='container'>
  <div class='row p-3 align-items-center'>
    <div class="col-6">
      <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 200px"><link><%= link_to 'SPACE CALENDAR', events_path, class:'text-light' %></link></button>
      <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 200px"><link><%= link_to 'PERSONNEL', events_path, class:'text-light' %></button>
    </div>

    <div class="col-6">
      <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 200px"><link><%= link_to 'BRIEFINGS', events_path, class:'text-light' %></button>
      <button type='button' class='btn btn-primary btn-block' style="width: 100%; height: 200px"><link><%= link_to 'SLACK', events_path, class:'text-light' %></button>
    </div>
  </div>

  <div class='row'>
    <div class="col-12 text-center">
      <h1>COMMAND CENTRE</h1>
    </div>
  </div>

</div>
