<!-- <p id="notice"><%= notice %></p> -->
<div style="text-align: center;background-color:#4576ff;padding-bottom:0.5px;">
        <h1 style="font-family: Verdana, Arial, Helvetica, sans-serif;background:#f8f9fa;width: 100%;clip-path: polygon(0 0, 100% 0, 97% 100%, 0 100%);"> <%= link_to "Space Calendar", events_path, :style=>'margin-right: 45px; font-size: 30px' %> </h1>
</div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class='col-md-2'>
      <h5 class='mb-2'>VIEW BY TEAM:</h5>
      <ul class="list-unstyled list-border-black-20 list-border-y text-left text-black-70">
        <li class='py-2 list-group-item'>Vancouver</li>
        <li class='py-2 list-group-item'>Richmond</li>
        <li class='py-2 list-group-item'>Burnaby</li>
        <li class='py-2 list-group-item'>Surrey</li>
        <li class='py-2 list-group-item'>Port Moody</li>
        <li class='py-2 list-group-item'>Langley</li>
        <li class='py-2 list-group-item'>Abbotsford</li>
      </ul>
    </div>

    <div class='col-md-7 text-center'>
        <div id="calendar"></div>
      </div>

    <div class='col-md-3 text-center align-items-center'>


          <button type='button' class='btn btn-primary btn-block my-2' data-toggle="modal" data-target="#createEvent" style="width: 100%; height: 100px">CREATE EVENT</button>

          <div class="modal fade bd-example-modal-lg" id="createEvent" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Please fill out the form below
                <%= render 'form_modal', event: @event %>
                </div>
              </div>
            </div>
          </div>
          <br>

    </div>
    <div id="footer_j">
    <div class="footer" style="padding: 0;">
      <div style="background-color: #4576ff;padding-bottom:0.5px;height: 10px;">
      </div>
      <div style="width: 250px;background-color: #4576ff;height: 50px;clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);">
      </div>
      <div class="container">
        <p style="color: grey; text-align:right;">Copyright &copy; Force of Nature Alliance 2017 <br> Made by Codecore</p>
      </div>
    </div>
    </div>


  </div>
