
<%= form_for @briefing do |form| %>  
    
    Please select team(s):

    <div>
      <%= form.label :team_id %>
      <%= collection_select(:team_id, 0, Team.all, :id, :name) %>
    </div>





  
    <%= form.submit %>
<% end %>